<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./default.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"
        />
        <title>Typography Template</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <section class="headings">
                <h1>Header 1 (36px)</h1>
                <h2>Header 2 (24px)</h2>
                <h3>Header 3 (20px)</h3>
                <h4>Header 4 (18px)</h4>
                <h5>Header 5 (16px)</h5>
                <h6>Header 6 (14px)</h6>
            </section>
            <section>
                <article class="articles">
                    <h1>Article</h1>
                    <p><strong>This is a sample of a bold article</strong></p>
                    <p><em>This is a sample of an italicized article</em></p>
                    <p><del>This is a sample of a deleted article</del></p>
                    <p><ins>This is a sample of an inserted article</ins></p>
                </article>
                <article>
                    <h2>Secondary Article</h2>

                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Repellendus adipisci officiis possimus reprehenderit fugiat
                    natus explicabo soluta officia, nobis consequuntur impedit
                    quas earum laudantium quod ad unde. Error, cupiditate! Fuga
                    laborum, laboriosam assumenda rerum dolores aliquid facilis,
                    molestias excepturi officia eveniet iusto molestiae saepe
                    nisi. Doloremque a aspernatur sint harum!
                </article>
            </section>
            <section class="card">
                <h2>Card Example</h2>
                <p>This is a card with some content to showcase typography.</p>
                <button data-primary>Primary Button</button>
                <button data-secondary>Secondary</button>
            </section>

            <section>
                <h2>Form Example</h2>
                <form>
                    <label for="name">Name:</label>
                    <input
                        type="text"
                        id="name"
                        name="name"
                        placeholder="Your Name"
                    />
                    <label for="email">Email:</label>
                    <input
                        type="email"
                        id="email"
                        name="email"
                        placeholder="Your Email"
                    />
                    <label for="age">Age: </label>
                    <input
                        type="number"
                        id="age"
                        name="age"
                        min="18"
                        max="99"
                    />
                    <button type="submit">Submit</button>
                    <button type="reset">Reset</button>
                </form>
            </section>

            <section class="">
                <h1>Unordered List Example</h1>
                <ul>
                    <li>List Item 1</li>
                    <li>List Item 2</li>
                    <li>List Item 3</li>
                </ul>
            </section>

            <section class="">
                <h1>Ordered List Example</h1>
                <ol>
                    <li>List Item 1</li>
                    <li>List Item 2</li>
                    <li>List Item 3</li>
                </ol>
            </section>
        </main>

        <footer>
            <p>&copy; 2023 The DEEP Project. All rights reserved.</p>
        </footer>
    </body>
</html>
